<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta  name="description" content="A find User Todo page">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <title>Forgot Password </title>
    <!-- Font family-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">

    <!-- bootstrap css -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <script src="https://use.fontawesome.com/fd294065c1.js"></script>
    <!--link rel="stylesheet" href="/public/findUser.css" type="text/css"-->
<style>

    .login{
        position: relative;
        left:30px;
        float:right;
    }
    .username_Status{
        text-align:center;
    }

    input{
        position: relative;
        left:30px;
    }
    .status{
        position: relative;
        left:40px;
        color:red;
        font-size: 20px;
    }
    h3{
        position: relative;
        left:40px;
    }
    #forgot-pswrd-sec-quest{
        display:none;
    }



</style>
<script>
        function formShow(){
           var username_input_field= document.getElementById('user-id').value;
           var sec_questions_form = document.getElementById('forgot-pswrd-sec-quest');
           var h4Tag = document.getElementById('h4tag');
            if ( !username_input_field ){
                var parentDiv = document.getElementById('sec_question_dispaly');
                var newLabel = document.createElement('label');
                newLabel.setAttribute('id','newLblid')
                newLabel.innerHTML= 'Please enter a valid username';
                parentDiv.appendChild( newLabel);
            }
            else
            {
                var updateUsername = document.getElementById('updateUsrnme');
                if(document.getElementById('newLblid')){
                    document.getElementById('newLblid').innerHTML = '';
                }
                updateUsername.value = username_input_field;
                h4tag.innerHTML = "Security Questions for " + username_input_field;
                if(sec_questions_form.style.display === 'none'){
                    sec_questions_form.style.display = 'block';
                }
                else{
                    sec_questions_form.style.display = 'none';
                }
            }

       }

       function chkUserNameStatus(){
            var username_status = document.getElementById('username_Status');
            if(username_status.innerHTML !== ' '){
                username_status.innerHTML = ' ';
            }
       }

</script>
</head>
<body>
<!-- forgot password-->
    <section  class="welcome">
        <div class="container">

                <div class="row centered col-md-4 col-md-offset-4">
                        <h3>Forgot Password</h3><br><br>
                </div>
        </div>
    </section>
    <section  class="forgot-password-header">
        <div class="container">
            <div class="row centered">
                <label id="username_Status" class="col-md-12 username_Status"><%= usernameStatus %></label>
                <div class=" col-md-4 col-md-offset-4" id="sec_question_dispaly">

                        <label for="user-id" class="col-md-2">Username</label>
                        <div class="col-md-8">
                            <input type="text" id="user-id" name="username" onclick="chkUserNameStatus()" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-submit form-submit login btn-default" onclick="formShow()"> <i class="fa fa-hand-o-down "></i> </button>

                </div>
            </div>
        </div>
    </section>
    <section  class="find-form">
        <div class="container">
               <div class="row centered">
                   <form class="form-horizondal" id="forgot-pswrd-sec-quest" method="post" action="/generateNewPassword">
                       <h4 id="h4tag"> </h4>
                       <div class=" col-md-8 ">
                        <% var sec_Q = sec_Questions %>
                            <% sec_Q.forEach((Q) =>{ %>
                                <label for="<%= Q %>" class="col-md-5"> <%= Q %> </label>
                                <input type="text" id="<%= Q %>" name="sec_Ans" class="form-control" >
                            <% }) %>
                           <br>
                            <button type="submit" class="btn btn-submit form-submit login btn-default"><i class="fa fa-hand-o-right fa-2x" aria-hidden="true"></i> </button>
                            <input type ="text" name="username" id="updateUsrnme"   hidden readonly >
                            <input type ="text"  name="secQ" value="<%= sec_Q %>" hidden  readonly >
                       </div>
                   </form>
                </div>
        </div>
</section>

<!-- Bootstrap Jquery -->
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>